
{% include 'header.twig' %}        
<form class="w3-container" action="/api/formattedposts/new" method="POST">
					<div align="center">
						<textarea name="content" id="content" rows="5" cols="40">Enter your blog here</textarea>
					</div>
					<div align="center">
						<input type="submit" value="Create Post">
					</div> 
</form>
{% include 'footer.twig' %}
