{% include 'header.twig' %}
<div class="w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
	{% if error_code is defined %}
		{{error_code}}
	{% endif %}
	{% if error_message is defined %}
		{{error_message}}
	{% endif %}
</div>
{% include 'footer.twig' %}
