<!doctype html>
<html>
    <head>
        <title>Micro Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/w3.css">
        <script type="text/javascript" src="/assets/javascripts/functionality1.js"></script> 
        <script type="text/javascript" src="/assets/javascripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/assets/javascripts/blog_controller15.js"></script>
        <script type="text/javascript" src="/assets/javascripts/w3data14.js"></script> 
    </head>
    <body>
<div class="w3-container w3-teal" align="center">
  <h1>Micro Blog</h1>
</div>
<div class="w3-container w3-teal" align="center">
	{% if message is defined %}
		{{message}}
	{% endif %}
</div>


