{% include 'header.twig' %}        
<div class="w3-container" align="center"> 
            <div class="w3-center-align"><p>Welcome !! Click on menu to do different activities.</p></div>
</div>
{% include 'footer.twig' %}
