{% include 'header.twig' %}        
<div class="w3-container"> 
            <div class="w3-left-align"><p>Welcome !! Click on menu to do different activities.</p></div>
</div>
{% include 'footer.twig' %}
