{% include 'header.twig' %}        
<form class="w3-container" action="/api/posts/delete" method="POST" id="deleteSimplePost">
					<div><label>Select Post</label> 
            		{% if posts|length > 0 %}
            			<select id="post_id" class="w3-ul w3-border" name="post_id">
								{% for post in posts %}
									<option value="{{ post.rowid }}">{{ post.rowid }}</option>
								{% endfor %} 
						</select>
						</div>
					<div>
						<textarea name="content" id="content" rows="5" cols="40">Blog will appear here.</textarea>
					</div>
					<div>
						<input type="hidden" id="_method" name="_method" value="DELETE" />
						<input type="submit" value="Delete Post">
					</div>
					{% else %}
						<p> No post available</p>
					{% endif %}
					
</form>
{% include 'footer.twig' %}
