{% include 'header.twig' %}        
<form class="w3-container" action="/api/formattedposts/update" method="POST" id="updateSimplePost">
            		{% if posts|length > 0 %}
            			<div align="center"><label>Select Post</label>
            			<select id="post_id" class="w3-ul w3-border" name="post_id">
								{% for post in posts %}
									<option value="{{ post.rowid }}">{{ post.rowid }}</option>
								{% endfor %} 
						</select>
						</div>
					<div align="center">
						<textarea name="content" id="content" rows="5" cols="40">Blog will appear here.</textarea>
					</div>
					<div align="center">
						<input type="hidden" id="_postid_put_method" name="_method" value="PUT" />
						<input type="submit" value="Update Post">
					</div>
					{% else %}
						<div align="center"><p> No post available</p></div>
					{% endif %} 
					
					
</form>
{% include 'footer.twig' %}
