
{% include 'header.twig' %}        
<div class="w3-container" align="center"> 
            <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for users.." id="userSearch">
            		{% if users|length > 0 %}
            			<ul id="idUserList" class="w3-ul w3-border">
								{% for users in users %}
									<li><a href="/api/posts/formatteduser/{{ users.user_id }}/twig">{{ users.user_name|e }}</a></li>
								{% endfor %} 
						</ul>
					{% else %}
						<p> No user available</p>
					{% endif %} 
</div>
{% include 'footer.twig' %}
